/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


.celek{
	display: flex;
}

.levy{
	flex: 1 0 20%;
}


.pravy{
	flex: 4 0 80%;
}

.uprostred{
	display: flex;
}

article{
	flex: 3 0 auto;
}

aside{
	flex: 1 0 auto;
}